* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #b8cff2;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 20px;
  text-align: center;
  background: #b8cff2;
  font-family: "Montserrat", sans-serif;
}

.header h1 {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
}
.header img {
  height: 100px;
  width: 100px;
  float: center;
  margin: 0 40px;
  border-radius: 4px;
  overflow: hidden;
}
.header span {
  display: inline-block;
  height: 100px;
  line-height: 100px;
}
.header p {
  text-align:center;
}

.top-nav {
  overflow: hidden;
  background-color: #6197e8;
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
}

.top-nav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
}

.top-nav a:hover {
  background-color: #c5dcfb;
  color: black;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

.left-column {   
  float: center;
  width: 100%;
}

.right-column {
  float: center;
  width: 80%;
  background-color: #b8cff2;
  padding-left: 20px;
}

.card {
  background-color: #edf4fc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  text-align: justify;
  overflow: hidden;
}

.column {
  float: left;
  width: 50%;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
}
.column img {
  width: 375px;
  height: 815px;
  margin-bottom: 20px;
}

.row {
  padding: 0 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #6197e8;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

.clearfix:before,.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}

.my-shadow {
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.my-shadow:hover {
  box-shadow: 2px 8px 15px 0 rgba(0,0,0,0.20), -2px 8px 15px 0 rgba(0,0,0,0.20);
}

@media screen and (max-width: 925px) {
  .header h1 {
    font-size: 55px;
  }
  .header img {
    width: 80px;
    height: 80px;
    margin: 0 30px;
  }
  .header span {
    height: 80px;
    line-height: 80px;
  }
}

@media screen and (max-width: 800px) {
  .left-column, .right-column {   
    width: 100%;
    padding: 0;
  }
  .header h1 {
    font-size: 35px;
  }
  .header img {
    width: 60px;
    height: 60px;
    margin: 0 20px;
  }
  .header span {
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .top-nav a {
    float: none;
    width: 100%;
  }
  .header h1 {
    font-size: 25px;
  }
  .column {
    width: 100%;
  }
  .header img {
    width: 50px;
    height: 50px;
    margin: 0 20px;
  }
  .header span {
    height: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 320px) {
  .top-nav a {
    float: none;
    width: 100%;
  }
  .header h1 {
    font-size: 24px;
  }
  .column {
    width: 100%;
  }
  .header img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
  }
  .header span {
    height: 50px;
    line-height: 50px;
  }
}
